# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Django
db.sqlite3
staticfiles/
media/

# Git
.git/
.gitignore

.ruff_cache